# Merge map_lm.txt and map_tg.txt

In [1]:
from pandas import DataFrame
import pandas as pd
import gc

In [2]:
LM_ID_ = 'map_lm.txt'
TG_ID_ = 'map_tg.txt'
TG_ID_Merge = 'map_tg_merge.txt'

LM_ID_data = pd.read_table(LM_ID_,header = None,delim_whitespace=True)
 
print(LM_ID_data.shape)

TG_ID_data = pd.read_table(TG_ID_,header = None,delim_whitespace=True)
print(TG_ID_data.shape)

(943, 3)
(9520, 3)

In [3]:
TG_ID_Merge_data=pd.merge(TG_ID_data,LM_ID_data,how='outer')
print(TG_ID_Merge_data.shape)

(10463, 3)

In [4]:
TG_ID_Merge_data.to_csv(TG_ID_Merge, header = None,index=False, sep='\t')

In [5]:
pd.read_table(TG_ID_Merge,header = None,delim_whitespace=True)

             0                1            2
0          NXN  ENSG00000167693  219489_s_at
1          MAK  ENSG00000111837    220302_at
2      RAP1GAP  ENSG00000076864    210618_at
3       POPDC2  ENSG00000121577    219647_at
4         STRN  ENSG00000115808    205520_at
...        ...              ...          ...
10458    LYRM1  ENSG00000102897    203897_at
10459     PRKX  ENSG00000183943    204061_at
10460   CRELD2  ENSG00000184164    218358_at
10461    TCFL5  ENSG00000101190    204849_at
10462     POP4  ENSG00000105171  202868_s_at

[10463 rows x 3 columns]

In [6]:
TG_ID_Merge_data

             0                1            2
0          NXN  ENSG00000167693  219489_s_at
1          MAK  ENSG00000111837    220302_at
2      RAP1GAP  ENSG00000076864    210618_at
3       POPDC2  ENSG00000121577    219647_at
4         STRN  ENSG00000115808    205520_at
...        ...              ...          ...
10458    LYRM1  ENSG00000102897    203897_at
10459     PRKX  ENSG00000183943    204061_at
10460   CRELD2  ENSG00000184164    218358_at
10461    TCFL5  ENSG00000101190    204849_at
10462     POP4  ENSG00000105171  202868_s_at

[10463 rows x 3 columns]

In [7]:
TG_ID_data

,0,1,2
0,NXN,ENSG00000167693,219489_s_at
1,MAK,ENSG00000111837,220302_at
2,RAP1GAP,ENSG00000076864,210618_at
3,POPDC2,ENSG00000121577,219647_at
4,STRN,ENSG00000115808,205520_at
...,...,...,...
9515,CFLAR,ENSG00000003402,"214486_x_at,208485_x_at,210564_x_at,210563_x_a..."
9516,RUNX1,ENSG00000159216,"210365_at,211179_at,211182_x_at,209360_s_at,21..."
9517,PDE4DIP,ENSG00000178104,"212390_at,214130_s_at,209700_x_at,205872_x_at,..."
9518,TCF3,ENSG00000071564,"213809_x_at,216647_at,213730_x_at,213731_s_at,..."
9519,HFE,ENSG00000010704,"214647_s_at,211328_x_at,211330_s_at,210864_x_a..."

In [8]:
LM_ID_data

          0                1            2
0     UBE2C  ENSG00000175063    202954_at
1      RBKS  ENSG00000171174    219222_at
2    SLC2A6  ENSG00000160326    220091_at
3      DAXX  ENSG00000204209  201763_s_at
4      GNAS  ENSG00000087460  200981_x_at
..      ...              ...          ...
938   LYRM1  ENSG00000102897    203897_at
939    PRKX  ENSG00000183943    204061_at
940  CRELD2  ENSG00000184164    218358_at
941   TCFL5  ENSG00000101190    204849_at
942    POP4  ENSG00000105171  202868_s_at

[943 rows x 3 columns]

In [9]:
gc.collect()

50

# Original Program

In [10]:
import sys

import numpy as np
import logging
import cmapPy.pandasGEXpress.setup_GCToo_logger as setup_logger
import cmapPy.pandasGEXpress.parse_gct as parse_gct
import cmapPy.pandasGEXpress.parse_gctx as parse_gctx
import numpy as np

In [11]:
logger = logging.getLogger(setup_logger.LOGGER_NAME)

def parse(file_path, convert_neg_666=True, rid=None, cid=None, ridx=None, cidx=None,
          row_meta_only=False, col_meta_only=False, make_multiindex=False):
    if file_path.endswith(".gct"):
        out = parse_gct.parse(file_path, convert_neg_666=convert_neg_666,
                              rid=rid, cid=cid, ridx=ridx, cidx=cidx,
                              row_meta_only=row_meta_only, col_meta_only=col_meta_only,
                              make_multiindex=make_multiindex)

    elif file_path.endswith(".gctx"):
        out = parse_gctx.parse(file_path, convert_neg_666=convert_neg_666,
                              rid=rid, cid=cid, ridx=ridx, cidx=cidx,
                              row_meta_only=row_meta_only, col_meta_only=col_meta_only,
                              make_multiindex=make_multiindex)

    else:
        err_msg = "File to parse must be .gct or .gctx!"
        logger.error(err_msg)
        raise Exception(err_msg)

    return out

In [12]:
BGEDV2_GCTX = 'bgedv2_QNORM.gctx'
LM_ID = 'map_lm.txt'
TG_ID = 'map_tg_merge.txt'
SP_IDX_NODUP = 'bgedv2_idx_nodup_K100_D1.0.txt'

In [13]:
infile = open(SP_IDX_NODUP)
samples_idx_nodup = []
for line in infile:
    samples_idx_nodup.append(int(line.strip('\n')))
    
infile.close()
samples_idx_nodup = np.random.permutation(samples_idx_nodup).tolist()

In [14]:
lm_id = [] 
lm_probs_dict = {}
infile = open(LM_ID)
for line in infile:
    ID, probs = line.strip('\n').split('\t')[1:]
    lm_id.append(ID)
    lm_probs_dict[ID] = probs.split(',')

infile.close()
lm_id = np.random.permutation(lm_id).tolist()

In [15]:
tg_id = [] 
tg_probs_dict = {}
infile = open(TG_ID)
for line in infile:
    ID, probs = line.strip('\n').split('\t')[1:]
    tg_id.append(ID)
    tg_probs_dict[ID] = probs.split(',')

infile.close()
tg_id = np.random.permutation(tg_id).tolist()

In [16]:
bgedv2_data = parse(BGEDV2_GCTX).data_df.astype(np.float32)

In [17]:
bgedv2_genes_ = parse(BGEDV2_GCTX, convert_neg_666=True, rid=None, cid=None, ridx=None, cidx=None,
          row_meta_only=True, col_meta_only=False, make_multiindex=False)

In [18]:
bgedv2_genes=np.array(bgedv2_genes_.index)

In [19]:
bgedv2_samples_ = parse(BGEDV2_GCTX, convert_neg_666=True, rid=None, cid=None, ridx=None, cidx=None,
          row_meta_only=False, col_meta_only=True, make_multiindex=False)

In [20]:
bgedv2_samples=np.array(bgedv2_samples_.index)

In [21]:
samples_idx = samples_idx_nodup
samples_id = np.array(bgedv2_samples)[samples_idx]

In [22]:
outfile = open('bgedv2_GTEx_1000G_sp.txt', 'w')
for i in range(0, len(samples_id)):
    outfile.write(str(samples_idx[i]) + '\t' + samples_id[i] + '\n')
    
outfile.close()

In [ ]:
'''
data_lm = np.zeros((len(lm_id), len(samples_id)), dtype='float32')
outfile = open('bgedv2_GTEx_1000G_lm.txt', 'w')
for i in range(len(lm_id)):
    probs_id = lm_probs_dict[lm_id[i]]
    probs_idx=np.where(np.array(bgedv2_genes_.index.tolist())==probs_id)[0].tolist()
    probs_data=np.array(bgedv2_data)[np.ix_(probs_idx, samples_idx)]
    probs_mean = probs_data.mean(axis=0)
    data_lm[i, :] = probs_mean
    outfile.write(lm_id[i] + '\t' + ','.join(map(str, probs_idx)) + '\t' + ','.join(map(str, probs_id)) + '\n')
    
outfile.close()   
'''

In [23]:
data_tg = np.zeros((len(tg_id), len(samples_id)), dtype='float64')
outfile = open('bgedv2_GTEx_1000G_tg.txt', 'w')
for i in range(len(tg_id)):
    probs_id = tg_probs_dict[tg_id[i]]
    probs_idx=[np.where(np.array(bgedv2_genes_.index.tolist())==probs_id_i)[0][0] for probs_id_i in probs_id]
    probs_data=np.array(bgedv2_data)[np.ix_(probs_idx, samples_idx)]
    probs_mean = probs_data.mean(axis=0)
    data_tg[i, :] = probs_mean
    outfile.write(tg_id[i] + '\t' + ','.join([str(probs_idx_i) for probs_idx_i in probs_idx]) + '\t' + ','.join([str(probs_id_i) for probs_id_i in probs_id]) + '\n')
    
outfile.close()

'''
data = np.vstack((data_lm, data_tg))
    
np.save('bgedv2_GTEx_1000G_float32.npy', data)
'''

np.save('bgedv2_GTEx_1000G_float32_tg.npy', data_tg)